@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url("login-bg.jpg");
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #f0f0f0;
    /* Background color for the container */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
    /* Reduced neumorphic box shadow */
}

.neumorphic-form {
    background-color: #f0f0f0;
    /* Background color for the form */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 15px #bebebe, -8px -8px 15px #ffffff;
    /* Neumorphic box shadow */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    /* Background color for inputs and button */
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
    /* Neumorphic inset shadow */
}

button {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
    /* Hover background color */
}

